apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: demo-operator
  template:
    metadata:
      labels:
        name: demo-operator
    spec:
      serviceAccountName: demo-operator
      containers:
        - name: ansible
          command:
          - /usr/local/bin/ao-logs
          - /tmp/ansible-operator/runner
          - stdout
          # Replace this with the built image name
          image: quay.io/loren123/demo-operator:latest 
          imagePullPolicy: Never
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
            readOnly: true
        - name: operator
          # Replace this with the built image name
          image: quay.io/loren123/demo-operator:latest
          imagePullPolicy: Never
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "demo-operator"
      volumes:
        - name: runner
          emptyDir: {}
