apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: db
  namespace: tutorial
  labels:
    app: words-db
spec:
  template:
    metadata:
      labels:
        app: words-db
    spec:
      containers:
      - name: db
        image: quay.io/loren123/db:latest
        ports:
        - containerPort: 5432
          name: db
