apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: tutorial
  labels:
    app: words-db
spec:
  ports:
    - port: 5432
      targetPort: 5432
      name: db
  selector:
    app: words-db
  clusterIP: None
